---
layout: default
pagination:
  enabled: true
---
<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}


  {% for post in paginator.posts %}

    {% include post-slideshow.html %}

  {% endfor %}
</div>

<script>
  function plusDivs(element, direction) {
    console.log(element, direction);
    var imgs = element.getElementsByClassName('slideshow__img');
    var next = 0;
    for (var i = 0, img; img = imgs[i]; i++) {
      if (img.style.display == "block") {
        next = Number(i) + Number(direction);
        if (next >= imgs.length) {
          next = 0;
        } else if (next < 0) {
          next = imgs.length - 1;
        }
        console.log(i, next);
        img.style.display = "none";
        imgs[next].style.display = "block";
        break;
      }
    }
  }
</script>
