<article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="posts__link" id="{{post.url}}">
    {% if post.images %}
      <figure class="posts__img slideshow__open">

        <div class="posts__arrows" onclick="this.parentElement.classList.add('slideshow_full');">
          <div class="slideshow-left" onclick="plusDivs(this.parentElement.parentElement, -1)">&#10094;</div>
          <div class="slideshow-right" onclick="plusDivs(this.parentElement.parentElement, 1)">&#10095;</div>
        </div>
        <div class="exit" onclick="this.parentElement.classList.remove('slideshow_full');">&#215;</div>

        <div class="posts__slideshow" onclick="this.parentElement.classList.add('slideshow_full');">
        {% for image in post.images %}
          {% if image == post.images[0] %}
            <img class="slideshow__img" src="{{ image }}" alt="{{ post.title }}" data-aos="fade-in" itemprop="image" style="display:block"/>
          {% else %}
            <img class="slideshow__img" src="{{ image }}" alt="{{ post.title }}" data-aos="fade-in" itemprop="image" style="display:none"/>
          {% endif %}
        {% endfor %}
        </div>


        <div class="slideshow__details">
          <div class="title">{{ post.title }}</div>
          {% if post.materials %}
          <div class="materials">
            Made with {{ post.materials | strip_html }}
          </div>
          {% endif %}
          {% if post.width %}
          <div class="dimentions">
            Dimentions: {{ post.width }} (w) x {{ post.height }} (h) x {{ post.depth }} (d)
          </div>
          {% endif %}
        </div>


      </figure>
    {% endif %}
    <div>
      <h2 class="posts__text"><strong itemprop="name">{{ post.title }}</strong> — 
        <span itemprop="description">
          {% if post.materials %}
            <br>
            Made with {{ post.materials | strip_html | truncatewords: 10, "" }}
          {% endif %}
          {% if post.width %}
            <br>
            Dimentions: {{ post.width }} (w) x {{ post.height }} (h) x {{ post.depth }} (d)
          {% endif %}
        </span>
      </h2>
    </div>
  </div>
  
</article>
